<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="themes/default/list_css::top"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="themes/default/header::header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div th:replace="themes/default/nav::nav"></div>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <div th:replace="themes/default/user_nav::nav"></div>
    </div>

    <style type="text/css">
        th, td {
            white-space: nowrap;
        }
    </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                公司管理
                <small>公司列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">公司管理</a></li>
                <li class="active">公司列表</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <div class="box-header with-border">
                        <a class="btn btn-primary" id="queryBtn">
                            <i class="fa fa-edit"></i> 查询
                        </a>
                        <a class="btn btn-primary" id="resetBtn">
                            <i class="fa fa-edit"></i> 重置
                        </a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="srmOrderList" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="center" >
                                <input type="checkbox" class="checkAll" id="checkAll"/>
                            </th>
                            <th >序号</th>
                            <th >编码</th>
                            <th >名称</th>
                            <th >供应商</th>
                            <th >接收方</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="center">
                                <input type="text" class="form-control" name="search" id="materialName_input" placeholder="模糊查询"/>
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" name="search" id="materialCode_input" placeholder="模糊查询"/>
                            </td>
                            <td align="center">
                                <select class="form-control"  name="search" id="materialStandardTypeFlag_input">
                                    <option style='display: none'></option>
                                    <option value="0">标准</option>
                                    <option value="1">定制</option>
                                </select>
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" name="search" id="specifications_input" placeholder="模糊查询"/>
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" name="search" id="vehicleNo_input" placeholder="模糊查询"/>
                            </td>
                            <td align="center">
                                <input type="text" class="form-control" name="search" id="orderNo_input" placeholder="模糊查询"/>
                            </td>
                            <td align="center">
                                <select class="form-control"  name="search" id="state_input">
                                    <option style='display: none'></option>
                                    <option value="1">待处理</option>
                                    <option value="2">进行中</option>
                                    <option value="3">已完成</option>
                                    <option value="8">异常</option>
                                </select>
                            </td>
                            <td align="center">
                                <!--下单日期-->
                            </td>
                            <td align="center">
                                <!--<input type="text" class="form-control" name="search" id="requiredCompletionDate_input" placeholder="模糊查询"/>-->
                            </td>
                            <td align="center">
                                <!--实际完成时间-->
                            </td>

                            <td align="center">
                            </td>
                            <td align="center">
                            </td>
                            <!--<td align="center">-->
                            <!--</td>-->
                            <!--<td align="center">-->
                            <!--</td>-->
                            <!--<td align="center">-->
                            <!--</td>-->
                            <!--<td align="center">-->
                            <!--</td>-->
                            <td align="center">
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<div th:replace="themes/default/footer::footer"></div>
</div>
<!-- ./wrapper -->
</body>
<script th:replace="themes/default/list_js::importjs"></script>
<script type="text/javascript">

    var srmOrderTable;

    $(function () {
        loadDataTableData();
    });
    //加载表格数据
    function loadDataTableData() {
        srmOrderTable = $('#srmOrderList').DataTable({
            "aLengthMenu": [10, 25, 50, 100],
            "bAutoWidth": true,
            "sScrollX":true,
            'bPaginate': true,
            "bDestory": true,
            "bRetrieve": true,
            "bFilter": false,
            "bSort": false,
            "bProcessing": true,
            "serverSide": true,
            "iDisplayLength": 10,
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type) {
                        return "<div align='center'><input type='checkbox' onclick = childclick() name='ckb_id' value='" + data + "'></div>";
                    },
                    "bSortable": false
                },
                {
                    "data": null,
                    render: function (data, type, row, meta) {
                        var startIndex = meta.settings._iDisplayStart;
                        return (startIndex + meta.row + 1).toString();
                    }
                },
                {"data": "materialName"},
                {"data": "materialCode"},
                {"data": "materialStandardTypeFlag",
                    "render": function (data, type, row, meta) {
                        if("0" == data){
                            return "标准";
                        }
                        else{
                            return "定制";
                        }
                    }
                },
                {"data": "specifications"},
                {"data": "vehicleNo"},
                {"data": "orderNo"},
                {"data": "state"},
                {"data": "orderDate"},
                {"data": "requiredCompletionDate"},
                {"data": "actualCompletionDate"},
                {"data": "num"},
                {"data": "unit"},
                // {"data": "customerName"},
                // {"data": "address"},
                // {"data": "contactPerson"},
                // {"data": "tel"},
                {"data": "remark"}
            ],
            "ajax": {
                type: "POST",
                url: '/order/listSrmOrders',
                data: function (d) {
                    d.materialName = $.trim($('#materialName_input').val());
                    d.materialCode = $.trim($('#materialCode_input').val());
                    d.materialStandardTypeFlag = $.trim($('#materialStandardTypeFlag_input').val());
                    d.specifications = $.trim($('#specifications_input').val());
                    d.vehicleNo = $.trim($('#vehicleNo_input').val());
                    d.orderNo = $.trim($('#orderNo_input').val());
                    d.queryDate = $.trim($('#queryDate').val());
                    d.state = $.trim($('#state_input').val());
                    return d;
                }
            },
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $(nRow).css("cursor", "pointer");
            },
            "oLanguage": {
                "sProcessing": "努力加载中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有数据",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            }
        })
    }

    //实现全选功能
    $('#checkAll').on('click', function () {
        if (this.checked) {
            $(this).attr('checked', 'checked');
            $("input[name='ckb_id']").each(function () {
                this.checked = true;
            });
        } else {
            $(this).removeAttr('checked');
            $("input[name='ckb_id']").each(function () {
                this.checked = false;
            });
        }
    });

    function childclick(id) {
        if ($(this).is(":checked") == false) {
            $("#checkAll").prop("checked", false);
        }
    }

    //回车键绑定
    $("input[name='search']").bind('keypress', function (event) {
        if (event.keyCode == "13") {
            srmOrderTable.ajax.reload();
        }
    });

    //报工
    $('#completeBtn').click(function () {
        var checkedBox = $("input[name='ckb_id']:checked");
        if (checkedBox.length == 0) {
            swal('提示', '至少选择一条记录！', 'warning');
            return;
        }
        var ids = [];
        $('input[name="ckb_id"]:checked').each(function () {
            ids.push($(this).val());
        });
        $.ajax({
            url: '/order/completeOrders',
            data: ids,
            dataType: 'json',
            type: "post",
            success: function (data) {
                if (data) {
                    if (data.code) {
                        swal('提示', data.msg, 'success');
                    } else {
                        swal('提示', data.msg, 'warning');
                    }
                }
            }
        });
    })
    //查询
    $('#queryBtn').click(function () {
        srmOrderTable.ajax.reload();
    })
    //重置
    $('#resetBtn').click(function () {
        $(".input-group.date").val(new Date()).datepicker('setDate', '');
        $("input[name='search']").val('');
        $("#materialStandardTypeFlag_input")[0].options.selectedIndex = 0;
        $("#state_input")[0].options.selectedIndex = 0;

        srmOrderTable.ajax.reload();
    })
</script>
</html>
