<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueview.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.blueview.model.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="receive_code" jdbcType="VARCHAR" property="receiveCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, supplier_code, receive_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <select id="getCompanysSelective" parameterType="com.blueview.model.Company" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company
    where 1=1
    <if test="code != null">
      and code = #{code,jdbcType=VARCHAR},
    </if>
    <if test="name != null">
      and  name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="supplierCode != null">
      and  supplier_code = #{supplierCode,jdbcType=VARCHAR},
    </if>
    <if test="receiveCode != null">
      and receive_code = #{receiveCode,jdbcType=VARCHAR},
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blueview.model.Company">
    insert into company (id, code, name, 
      supplier_code, receive_code)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{supplierCode,jdbcType=VARCHAR}, #{receiveCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blueview.model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="receiveCode != null">
        receive_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveCode != null">
        #{receiveCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blueview.model.Company">
    update company
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveCode != null">
        receive_code = #{receiveCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blueview.model.Company">
    update company
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      receive_code = #{receiveCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>