<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueview.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.blueview.model.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department_type" jdbcType="VARCHAR" property="departmentType" />
    <result column="departmenttypename" jdbcType="VARCHAR" property="departmenttypename" />
    <result column="cost_centerid" jdbcType="INTEGER" property="costCenterid" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <association property="costCenter" javaType="com.blueview.model.CostCenter">
      <id property="id" column="cost_centerid" />
      <result property="code" column="code" />
      <result property="name" column="costcentername" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, department_type, cost_centerid, parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getDepartmentsSelective" parameterType="com.blueview.model.Department" resultMap="BaseResultMap">
    SELECT
    de.id,
    de. CODE,
    de. NAME,
    de.department_type,
    dict.name departmenttypename,
    de.cost_centerid,
    de.parent_id,
    cc. NAME costcentername
    FROM
    department de
    LEFT JOIN cost_center cc ON de.cost_centerid = cc.id
    LEFT JOIN sys_dict_type dict on dict.value= de.department_type
    WHERE
    1 = 1
    and dict.parent_id = '1'
    <if test="code != null and code != ''">
      and de.code = #{code,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name !=''">
      and de.name like  concat('%',#{name},'%')
    </if>
    <if test="departmentType != null and departmentType != '' ">
      and de.department_type = #{departmentType,jdbcType=VARCHAR}
    </if>
    <if test="costCenterid != null and costCenterid != ''">
      and de.cost_centerid = #{costCenterid,jdbcType=INTEGER}
    </if>
    <if test="parentId != null and parentId != '' ">
      and de.parent_id = #{parentId,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blueview.model.Department">
    insert into department (id, code, name, 
      department_type, cost_centerid, parent_id
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{departmentType,jdbcType=VARCHAR}, #{costCenterid,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blueview.model.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="departmentType != null">
        department_type,
      </if>
      <if test="costCenterid != null">
        cost_centerid,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentType != null">
        #{departmentType,jdbcType=VARCHAR},
      </if>
      <if test="costCenterid != null">
        #{costCenterid,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blueview.model.Department">
    update department
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentType != null">
        department_type = #{departmentType,jdbcType=VARCHAR},
      </if>
      <if test="costCenterid != null">
        cost_centerid = #{costCenterid,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blueview.model.Department">
    update department
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      department_type = #{departmentType,jdbcType=VARCHAR},
      cost_centerid = #{costCenterid,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>