<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueview.dao.EmployerMapper">
  <resultMap id="BaseResultMap" type="com.blueview.model.Employer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="cost_centerid" jdbcType="VARCHAR" property="costCenterid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, department_id, cost_centerid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getEmployersSelective" parameterType="com.blueview.model.Employer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from employer
    where 1=1
    <if test="code != null">
      and code = #{code,jdbcType=VARCHAR},
    </if>
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR},
    </if>
    <if test="departmentId != null">
      and department_id = #{departmentId,jdbcType=VARCHAR},
    </if>
    <if test="costCenterid != null">
      and cost_centerid = #{costCenterid,jdbcType=VARCHAR},
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blueview.model.Employer">
    insert into employer (id, code, name, 
      department_id, cost_centerid)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{departmentId,jdbcType=VARCHAR}, #{costCenterid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blueview.model.Employer">
    insert into employer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="costCenterid != null">
        cost_centerid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="costCenterid != null">
        #{costCenterid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blueview.model.Employer">
    update employer
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="costCenterid != null">
        cost_centerid = #{costCenterid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blueview.model.Employer">
    update employer
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      cost_centerid = #{costCenterid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>