<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blueview.dao.WorkCalendarMapper">
  <resultMap id="BaseResultMap" type="com.blueview.model.WorkCalendar">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="is_work" jdbcType="BIT" property="isWork" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, is_work
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from work_calendar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getWorkCalendarsSelective" parameterType="com.blueview.model.WorkCalendar" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from work_calendar
    where 1=1
    <if test="date != null">
      and date = #{date,jdbcType=DATE},
    </if>
    <if test="isWork != null">
      and is_work = #{isWork,jdbcType=BIT},
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work_calendar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blueview.model.WorkCalendar">
    insert into work_calendar (id, date, is_work)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{isWork,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.blueview.model.WorkCalendar">
    insert into work_calendar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="isWork != null">
        is_work,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="isWork != null">
        #{isWork,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blueview.model.WorkCalendar">
    update work_calendar
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="isWork != null">
        is_work = #{isWork,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blueview.model.WorkCalendar">
    update work_calendar
    set date = #{date,jdbcType=DATE},
      is_work = #{isWork,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>