<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="themes/default/list_css::top"></head>
<body class="hold-transition skin-blue sidebar-mini">
<style>

    /*body {*/
    /*    margin: 40px 10px;*/
    /*    padding: 0;*/
    /*    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
    /*    font-size: 14px;*/
    /*}*/

    #calendar {
        max-width: 800px;
        margin: 0 auto;
    }

</style>
<div class="wrapper">

    <div th:replace="themes/default/header::header"></div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div th:replace="themes/default/nav::nav"></div>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <div th:replace="themes/default/user_nav::nav"></div>
    </div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
               工作日历管理
                <small>工作日历列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">工作日历管理</a></li>
                <li class="active">工作日历列表</li>
            </ol>
        </section>
        <div class="modal fade" id="addWorkCalendarModal" tabindex="-1" role="dialog" aria-labelledby="addUpModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="addUpModalLabel">
                            工作日历信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" th:object="${workCalendar}" id="workUpdateForm" method="post">
                            <input type="hidden" class="form-control m-input" th:field="*{id}" id="id">
                            <div class="form-control-inline">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-3 col-form-label"><span style="color:red;">*</span>时间：</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control m-input" th:field="*{date}" id="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-inline">
                                <div class="form-group m-form__group row">
                                    <label class="col-lg-3 col-form-label"><span style="color:red;">*</span>是否工作：</label>
                                    <div class="col-lg-6">
                                        <!--<input type="text" class="form-control m-input" th:field="*{isWork}" id="isWork" required>-->
                                        <select class="form-control"  name="search" id="isWork">
                                            <option value="true">是</option>
                                            <option value="false" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div id="calendar">
        </div>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<div th:replace="themes/default/footer::footer"></div>
</div>
<!-- ./wrapper -->
</body>
<script th:replace="themes/default/list_js::importjs"></script>
<script type="text/javascript">
    $(function () {
        $("#workUpdateForm").validate({
                highlight: function (e) {
                    $(e).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-error');
                }
                ,
                submitHandler: function () {
                    addWorkCalendar();
                }
            }
        );
    })
    var calendar;
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
          calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid' ],
            height : 650,
            aspectRatio:6,
            defaultDate: '2019-07-23',
            // navLinks: true, // can click day/week names to navigate views
            //允许用户通过点击或拖动选择日历中的对象
            selectable: true,
            locale:'zh-cn',
            weekNumbers:true,
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events:function(fetchInfo, successCallback, failureCallback){
                //alert("进入到查询日程的方法里.内部")
                $.ajax({
                    type : "post",
                    data:{"isWork":false},
                    url : "/workCalendar/selectWorkCalendarsSelective",
                    success : function(data) {
                        var events = [];
                        if (data.length == 0){
                            events.push({
                                title: '工作日',
                                start:start,
                                end:end
                            });
                        }else{
                            for(var i=0; i < data.length ; i++){
                                events.push({
                                    title: '休息日',
                                    start:data[i].date,
                                    allDay:true,
                                    textColor:"red"
                                });
                                $("td[data-date='"+data[i].date+"']").css('color','red');
                            }
                        }
                        successCallback(events);
                    }
                });
            },
            select: function(info) {
                $('#date').val( info.startStr);
                $('#addWorkCalendarModal').modal('show');
            }
        });

        calendar.render();
    });
    //添加
    function addWorkCalendar() {
        var params = {
            id: $.trim($('#id').val()),
            date: $.trim($('#date').val()),
            isWork: $.trim($('#isWork').val()),
        }
        $.ajax({
            type: "post",
            data: JSON.stringify(params),
            url: "/workCalendar/saveOrUpdateWorkCalendar",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            success: function (data) {
                if (data.id) {
                    swal('提示', data.msg, 'success');
                    //刷新当前
                    setTimeout(function () {
                        history.go(0);
                    }, 1000);
                } else {
                    swal('提示', data.msg, 'warning');
                }
                $('#addWorkCalendarModal').modal('hide');
                calendar.refetchEvents();
            }
        })
    }
</script>
</html>
